{% load render_bundle from webpack_loader %}


<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% render_bundle "main" "css" %}
    </head>
    <body class="container mx-auto my-8 bg-gray-900">
        <div class="bg-gray-100 p-12">
            {% if user.is_authenticated %}
            <div class="my-2">
                <a class="underline" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
            </div>
            {% endif %}
            {% block content %}
            {% endblock content %}

            {% render_bundle "main" "js" %}
        </div>
    </body>
</html>
