{% extends "subscriptions/base.html" %}

{% block content %}
<div class="flex mb-8 justify-between">
    <a class="underline" href="{% url 'search' %}">Add subscription</a>
    <form action="{% url 'update-feeds' %}" method="POST">
        {% csrf_token %}
        <button>
            <svg class="fill-current w-4" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                <g id="icon-shape">
                <path d="M10,3 C6.13400675,3 3,6.13400675 3,10 C3,11.9329966 3.78350169,13.6829966 5.05025253,14.9497475 L6.46446609,13.5355339 C5.55964406,12.6307119 5,11.3807119 5,10 C5,7.23857625 7.23857625,5 10,5 L10,3 L10,3 Z M14.9497475,5.05025253 C16.2164983,6.31700338 17,8.06700338 17,10 C17,13.8659932 13.8659932,17 10,17 L10,15 C12.7614237,15 15,12.7614237 15,10 C15,8.61928813 14.4403559,7.36928813 13.5355339,6.46446609 L14.9497475,5.05025253 L14.9497475,5.05025253 Z M10,20 L6,16 L10,12 L10,20 L10,20 Z M10,8 L14,4 L10,0 L10,8 L10,8 Z" id="Combined-Shape"></path>
                </g>
                </g>
            </svg>
        </button>
    </form>
</div>
<div class="flex flex-wrap">
    {% for sub in subscriptions %}
    <div class="m-4 p-4 overflow-scroll rounded shadow">
        <div class="flex justify-around items-center m-4 my-2">
            <p class="py-2 px-4">{{ sub.name }}</p>
            <form class="py-2" action="watched_sub/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="subscription-id" value={{ sub.id }} />
                <button type="submit">
                    <svg class="fill-current hover:text-green-500 mx-4 w-4" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                        <g id="icon-shape">
                        <path d="M11.0010436,0 C9.89589787,0 9.00000024,0.886706352 9.0000002,1.99810135 L9,8 L1.9973917,8 C0.894262725,8 0,8.88772964 0,10 L0,12 L2.29663334,18.1243554 C2.68509206,19.1602453 3.90195042,20 5.00853025,20 L12.9914698,20 C14.1007504,20 15,19.1125667 15,18.000385 L15,10 L12,3 L12,0 L11.0010436,0 L11.0010436,0 Z M17,10 L20,10 L20,20 L17,20 L17,10 L17,10 Z" id="Fill-97"></path>
                        </g>
                        </g>
                    </svg>
                </button>
            </form>
        </div>
        <div>
            {% for video in sub.unwatched %}
            <div class="flex justify-around items-center m-4 my-2">
                <a href="{{ video.url }}" title="{{ video.hover_text }}">
                    <img class="w-32 hover:opacity-75" src={{ video.thumbnail_url }}></img>
                </a>
                <form action="watched_video/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="video-id" value={{ video.id }} />
                    <button type="submit">
                        <svg class="fill-current hover:text-green-500 w-4" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                            <g id="icon-shape">
                            <path d="M11.0010436,0 C9.89589787,0 9.00000024,0.886706352 9.0000002,1.99810135 L9,8 L1.9973917,8 C0.894262725,8 0,8.88772964 0,10 L0,12 L2.29663334,18.1243554 C2.68509206,19.1602453 3.90195042,20 5.00853025,20 L12.9914698,20 C14.1007504,20 15,19.1125667 15,18.000385 L15,10 L12,3 L12,0 L11.0010436,0 L11.0010436,0 Z M17,10 L20,10 L20,20 L17,20 L17,10 L17,10 Z" id="Fill-97"></path>
                            </g>
                            </g>
                        </svg>
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
