{% extends "subscriptions/base.html" %}

{% block content %}
<div class="bg-gray-100 p-12">
  <a class="underline mb-8" href="{% url 'search' %}">Add subscription</a>
  <div class="flex flex-wrap">
    {% for sub in subscriptions %}
    <div class="m-4 p-4 overflow-scroll">
      <p>{{ sub.name }}</p>
      <form action="watched_sub/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="subscription-id" value={{ sub.id }} />
        <input type="submit" value="Mark subscription watched" />
      </form>
      <div>
        {% for video in sub.unwatched %}
        <div>
          <form action="watched_video/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="video-id" value={{ video.id }} />
            <input type="submit" value="Mark video watched" />
          </form>
          <img class="w-32" src={{ video.thumbnail_url }}></img>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
